/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    color: #000000;
}


/***** container ****/
.container {
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 24px;
}

.footer {
    width: 1200px;
    margin: 0 auto;
}
/***** container ****/


/***** box ****/
.box {
    margin-bottom: 48px;
}

.box_title-header {
    padding-top: 47px;
    padding-bottom: 17px;
    border-bottom: 2px black solid;
}

.box-header{
    border-bottom: 1px gray solid;
    padding-bottom: 8px;
    margin-bottom: 16px;
}

.box-white{
    border-bottom: 1px white solid;
}

.box-item .base{
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 24px;
}

.box-item .work{
    font-size: 24px;
    line-height: 36px;
}


.box-center {
    width:300px; 
    margin: 0 auto;
}
/***** box ****/


/***** border ****/
.bl-1{
    border-left: 1px;
    border-style: solid;
}

.bc-white {
    border-color: white;
}

.bc-96A9C4 {
    border-color: #96A9C4;
}
/***** border ****/

/***** margin ****/
.ml-395 {
    margin-left: 395px;
}

.ml-24 {
    margin-left: 24px;
}
.mt-36 {
    margin-top: 36px;
}

.mb-72 {
    margin-bottom: 72px;
}

/***** margin ****/

/***** padding ****/
.pt-24 {
    padding-top: 24px;
}
.pb-16 {
    padding-bottom: 16px;
}
.pb-24 {
    padding-bottom: 24px;
}
.pb-36 {
    padding-bottom: 36px;
}
.pl-24 {
    padding-left: 24px;
}
/***** padding ****/

/***** text ****/
.text-center{
    text-align: center;
}

.text-a00404{
    color: #A00404;
}

.text-white {
    color:white;
}

.p_work {
    font-style: 20px;
    line-height: 30px;
}

/***** text ****/


/***** size ****/
.width-996 {
    width:996px;
}
/***** size ****/


/***** bg ****/
.bg_415165 {
    background: #415165;
}
/***** bg ****/


/***** title ****/
.h1_title {
    font-size: 80px;
    line-height: 94px;
    font-family: Roboto,Regular;
    width: 100px;
}

.h2 {
    font-size: 32px;
    line-height: 43px;
    letter-spacing: 0px;
    opacity: 1;
}

.h2_lh45 {
    line-height: 45px;
}

.mark {
    font-size: 24px;
    line-height: 48px;
    letter-spacing: 0px;
}
/***** title ****/


/***** images ****/
.avatar {
    width: 324px;
    height: 324px;
    padding-top: 48px;
    padding-bottom: 48px;
    opacity: 1;
}

.hex-img {
    display: block;
    width: 90px;
    height: 90px;
}

.simtree-img {
    width: 90px;
    height: 90px;
}

.footer_img {
    width: 48px;
    height: 48px;
    padding-left: 24px;
}
/***** images ****/


/***** text ****/
.ts24 {
    font-style: 24px;
    line-height: 34px;
}
/***** text ****/


/***** ul. li  ****/
ul.skills li {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 20px;
    color: white;
}

ul.list li {
    font-size: 24px;
    line-height: 36px;
    margin-top: 24px;
}

ul.contact li {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 16px;
    color: #FFFFFF;
    text-align: center;
}

/***** ul. li ****/
